<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Test Suite">
	<listeners>
		<listener class-name="report.TestListener" />
	</listeners>
	<parameter name="browserType" value="chrome" />
	

	<test name="Admin Tests">
		<classes>
			<class name="apitest.Testcase" />
		
		</classes>
	</test>
</suite>